@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --ring: #FFFFFF;

        --primary: 0, 0%, 0%;
        --primary-foreground: 0, 0%, 100%;

        --secondary: 0, 0%, 100%;
        --secondary-foreground: 0, 0%, 0%;

        --text-button: 0, 0%, 64.71%;
        --text-button-hover: 0, 0%, 100%;

        --icon-primary-foreground: 0, 0%, 16.47%;
        --icon-secondaty-foreground: 0, 0%, 9.02%;
    }
}

body {
    font-family: 'nunito', sans-serif;
    min-height: 100vh;
}