@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--panel-gap: 0.5rem;

		--ring: #ffffff;
		--primary-bg: #121212;
		--primary-bg-gradient: linear-gradient(
			rgba(255, 255, 255, 0.1) 0%,
			rgb(0, 0, 0) 100%
		);

		--green: #1ed760;
		--main-gray: #a7a7a7;
		--primary: 0, 0%, 0%;
		--primary-foreground: 0, 0%, 100%;

		--secondary: 0, 0%, 100%;
		--secondary-foreground: 0, 0%, 0%;

		--text-button: 0, 0%, 64.71%;
		--text-button-hover: 0, 0%, 100%;

		--icon-primary-foreground: 0, 0%, 16.47%;
		--icon-secondaty-foreground: 0, 0%, 9.02%;
	}
}
html,
body {
	height: 100%;
}

body {
	font-family: "nunito", sans-serif;
}

#root {
	position: relative;
	height: 100%;
}
.text-ellipsis-custom {
	overflow: hidden;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
